:root {
  --white: #fff;
  --primary: #61ECBC;
  --black: #182339;
  --arrow-bg: rgba(69, 131, 189, 0.671);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url(/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #78A1AF;
  min-height: 100vh;
  font-family: "DM Serif Text", serif;
  font-size: 2rem;
}
.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.app-title {
  font-size: 4.8rem;
  margin-top: 5rem;
  color:#0f2a61;
  line-height: .8;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
.app-title span {
  display: block;
  color: #061a8d;
  font-size: 4.4rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  color: var(--black);
}

.form select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 80%;
  margin: 0 auto;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(5, 3, 24);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}
.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 300ms ease;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto ;
  margin-top: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form [type="submit"]:hover {
  background-color: #0cb387;
}

.result-wrapper{
  margin-top: 5rem;
}

.result-wrapper h2 {
  text-align: center;
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.result img {
  width: 100%;
}
.result p {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}
.result span {
  font-weight: 700;
}
.texto{
  column-span: 1;
  text-align: right;
}
.price {
  text-align: left;
}
